.info {
    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.swagger {
    text-decoration: none;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.env {
    text-decoration: none;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.actual {
    text-decoration: none;
    color: grey;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

td {
    padding-top: 5px;
}

table {
    font-family: arial;
}

/* alternating table rows */
.TFtable{
    font-family: arial;
    border-collapse:collapse;
}
.TFtable td{
    padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
    background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){
    background: white;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
    background: #eaecef;
}




